/* Variables */

:root {
  --basic-black: #323232;
  --basic-white: #ffffff;
  --darker-white: #FEFEFE;

  --basic-pistachio: #849D8F;
  --red-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --light-beige: #F8F7F4;
  --red-lighter: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

  --red-darker: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',"Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-pistachio);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  margin-bottom: 24px;
  width: 1146px;
  margin: 0 auto;
}

.main-header-logo {
  margin-top: 9px;
  margin-right: 24px;
}

/* Main navigation */

.main-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation: first-child {
  margin-right: 24px;
}
.site-navigation {
  list-style: none;
  flex-direction: row;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  margin-right: 32px;
  /*width: 200px;*/
}

.site-navigation > div {
  margin-right: 32px;
  /*width: 200px;*/
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.user-navigation {
  margin-left: auto;
}

.user-navigation a {
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
}

.open-hours p {
  line-height: 16px;
  font-weight: 700;
  font-size: 14px;
}

.open-hours a {
  line-height: 24px;
  font-size: 22px;
  font-weight: 700;
  color: var(--basic-white);
}

.breadcrumbs {
  line-height: 16px;
  font-size: 14px;
  color: var(--basic-white);
}

.page-catalog ul {
  list-style: none;
}

.page-catalog a {
  color: var(--basic-white);
}

.page-catalog h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
}

.pagination a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.sliders-item img {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.sliders-item {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 672px;
}

.sliders h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.filters legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.additional-topping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0px;
  padding: 0px;
  column-gap: 26px;
}

.additional-topping h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0 0 16px;

}

.additional-topping p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 0%s;
  margin-bottom: 0%;
}

.topping {
  width: 560px;
  border-radius: 16px;
  padding: 16px 22px 22px 16px;
  box-sizing: border-box;
}

.raspberry {
  background-color: crimson;
}

.topping1 p{
}

.chocolate {
  background-color: brown;
}

.topping-button {
  margin-right: 22px;
  margin-bottom: 22px;
}
/* Features */

.feature-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature-description {
  line-height: 30px;
  font-weight: 500;
  font-size: 24px;
  color: var(--basic-black);
}

.feature-item {
  color: var(--basic-black);
}

.hit-catalog {
  display: grid;
  /*grid-template-columns: 25% 25% 25% 25%;*/
  grid-template-columns: repeat(4, 1fr);
}

.hit-catalog-item {
  padding: 6px 13px 21px 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-title {
  font-weight: 500;
  color: var(--basic-white);
}

/* Blog */

.blog-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
}

.blog {
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.blog h3 {
  font-weight: 500;
  font-size: 16px;
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: underline;
}

.mailing {
  color: var(--basic-black);
  background-color: var(--light-beige);
}

.mailing-box input {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-black);
}

.contacts {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(574px, -50%);
  color: var(--basic-black);
  background-color: var(--darker-white);
  width: 303px;
}

.contacts h3, p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts-address {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.useful-links a {
  color: var(--basic-white);
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-copyright a,p {
  font-size: 12px;
  margin: 0;
}

.social-list {
  list-style: none;
}

.useful-links ul {
  list-style: none;
}

.button {
  font: inherit;
  text-align: center;
  font-size: 18px;
  color: var(--basic-white);
  vertical-align: middle;
  background: var(--red-gradient);
  border: none;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
}

.button:hover{
  background: var(--red-lighter), var(--red-gradient);
}

.button:active {
  background: var(--red-darker), var(--red-gradient);
  box-shadow: 0px 2px 2px 0px #942718 inset;
}

.contacts-button {
  color: var(--basic-white);
}

.contacts a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.contacts-tel {
  color: var(--basic-black);
}

.main-footer .container {
  display: flex;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  justify-content: space-between;
  height: 103px;
}

.footer-social {
  display: flex;
}

.social-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}

.social-list li {
  margin-right: 12px;
}

.useful-links {
  display: flex;
}

.useful-links-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}

.useful-links-column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.useful-links-row li {
  margin-bottom: 11px;
}

.map {
  position: relative;
}

.map img {
  margin: 0 auto;
  display: block;
}
