/* Variables */

:root {
  --basic-black: #323232;
  --basic-white: #ffffff;
  --darker-white: #FEFEFE;
  --basic-grey: rgba(178, 178, 178, 0.52);
  --basic-pistachio: #849D8F;
  --red-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --red-light: #FFBC9E;
  --light-beige: #F8F7F4;
  --red-pale: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

  --red-darker: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',"Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
  text-decoration-color: rgba(255, 255, 255, 0.3);
  color: white;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* Grid */

.page {
  height: 100%;
}


.button {
  font: inherit;
  text-align: center;
  font-size: 18px;
  color: var(--basic-white);
  vertical-align: middle;
  background: var(--red-gradient);
  border: none;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  padding: 14px 19px;
  text-decoration: none;
}


.button:hover{
  background: var(--red-pale), var(--red-gradient);
}

.button:active {
  background: var(--red-darker), var(--red-gradient);
  box-shadow: 0 2px 2px 0 #942718 inset;
}

.contacts-button {
  color: var(--basic-white);
}

.page-body {
 /* min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;*/
}

.site-wrapper-1 {
  background-color: #849d8f;
  background-image: url("../img/slidegroup1.png");
}

.site-wrapper-2 {
  background-color: #8996a6;
  background-image: url("../img/slidegroup2.png");
}

.site-wrapper-3 {
  background-color: #9d8b84;
  background-image: url("../img/slidegroup3.png");
}

.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: center 83px;
}
/* Main header */

.main-header {
  margin-bottom: 24px;
  width: 1146px;
  margin: 0 auto;
  height: 85px;
}

.main-header-logo {
  margin-top: 9px;
  margin-right: 11px;
}

/* Main navigation */

.main-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation: first-child {
  margin-right: 24px;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-menu-item {
  position: relative;
  margin-right: 7px;
}

.site-menu-link {
  display: block;
  border-radius: 26px;
  padding: 10px 13px;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 5px 0 0;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  list-style: none;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 4;
  padding-left: 0;
}

.sub-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 5px;
}

.sub-menu-item a{
  color: var(--basic-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: block;
  padding: 10px 20px;
  text-align: center;
}

.sub-menu-item a:hover {
  background-color: #FBDED7;
}

.sub-menu-item a:active {
  background-color: #F6B5A5;
}

.site-menu-item:hover .sub-menu,
.site-menu-link:focus .sub-menu,
.sub-menu:hover {
  opacity: 1;
  pointer-events: auto;
}

.sub-menu:focus-within {
  opacity: 1;
  pointer-events: auto;
}

/* User navigation

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}
*/

.site-menu-link,
.user-navigation a {
  color: var(--basic-white);
}

.site-menu-link:hover,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.site-menu-link:active {
  background: #EDEDED;
  box-shadow: inset 0 2px 1px #696969;
}

/*
.user-navigation {
  margin-left: auto;
  position: relative;
}
*/

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  position: relative;
   margin-left: auto;
  list-style: none;
}

.user-navigation-item {
  position: relative;
}

.user-links {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  min-height: 32px;
  min-width: 32px;
  margin-left: 10px;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.user-links span {
  padding-right: 8px;
  padding-left: 11px;
}

.user-links:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.search-link {
  padding: 8px;
}

.user-menu-tooltip {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 20px;
  background: #F8F7F4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: var(--basic-black);
  z-index: 3;
}

/*
.login-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  right: 193px;
  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 247px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  right: 80px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
*/
.open-hours {
  position: absolute;
  text-align: right;
  z-index: 2;
}
.open-hours a {
  text-decoration: unset;
}

.open-hours p {
  line-height: 16px;
  font-weight: 700;
  font-size: 14px;
}

.open-hours a {
  display: inline-block;
  line-height: 24px;
  font-size: 22px;
  font-weight: 700;
  color: var(--basic-white);
  margin-top: 8px;
}

.breadcrumbs {
  line-height: 16px;
  font-size: 14px;
  color: var(--basic-white);
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  margin: 28px 22px 13px 0;
}
.page-catalog ul {
  list-style: none;
}

.page-catalog a {
  color: var(--basic-white);
}

.page-catalog h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.pagination a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pagination li{
  margin-left: 20px;
}

.sliders {
  position: relative;
  padding-top: 313px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 23px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-align: center;
  display: inline-block;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.sliders-item img {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.sliders-item {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 672px;
}

.sliders h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  z-index: 20;
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls.current {
  background-color: #ffffff;
}

.control-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.control-button:focus {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.filters legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.additional-topping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 26px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.topping h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0 0 16px;

}

.topping p {
  margin: 0 0 42px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.topping-button {
  padding: 12px 23px;
  display: inline-block;
  margin-top: auto;
  margin-left: auto;
}

.topping {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  border-radius: 16px;
  padding: 16px 22px 22px 16px;
  box-sizing: border-box;
}

.raspberry {
  /*background-color: crimson;*/
  background-image: url(../img/raspberrybg.png);
}

.chocolate {
  /*background-color: brown;*/
  background-image: url(../img/chocolatebg.png);
}

/* Features */

.features {
  background-image: url(../img/wafflegb.png);
  margin: 0 0 40px;
  background-position: center;
  border-radius: 16px;
  padding: 24px 20px 23px;
}

.features h3 {
}

.feature-list {
  list-style: none;
  display: grid;
  grid-template-columns: 540px 540px;
  padding: 0;
  margin: 0;
  justify-content: center;
  column-gap: 26px;
  padding-bottom: 1px;
  width: 1080px;
  margin-left: 13px;
}

.feature-item::before {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  width: 49px;
  height: 49px;
  top: 0;
  left: 0;
  background-size: 49px 49px;
}

.feature-item {
  display: flex;
  position: relative;
  padding-top: 9px;
  padding-left: 55px;
  padding-right: 4px;
  margin-bottom: 5px;
  color: var(--basic-black);
  margin-top: 8px;
}

.ice-item::before {
  background-image: url(../img/ice-icon.svg);
}

.cow-item::before {
  background-image: url(../img/cow-icon.svg);
}

.leaf-item::before {
  background-image: url(../img/leaf-icon.svg);
}

.thermometr-item::before {
  background-image: url(../img/thermometer-icon.svg);
}

.feature-description {
  line-height: 30px;
  font-weight: 500;
  font-size: 24px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.hit-catalog {
  display: grid;
  /*grid-template-columns: 25% 25% 25% 25%;*/
  grid-template-columns: repeat(4, 1fr);
  font-weight: 500;
}

.hit-catalog-button {
  opacity: 0;
}

.hit-catalog-item {
  padding: 6px 13px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hit-bg {
  padding: 6px 13px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hit-catalog-item:hover {
  background-color: rgba(255,255,255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hit-catalog-item:hover .hit-catalog-button{
   opacity: 1;
}

.hit-tag {
  position: absolute;
  left: 0;
}

.catalog-item {
  margin-top: 13px;
  margin-bottom: 14px;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  top: 165px;
  left: 0;
}

.catalog-item-price span{
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.catalog-item-title {
  font-weight: 500;
  color: var(--basic-white);
}

/* Blog */

.blog-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
}

.blog {
  color: var(--basic-black);
  background-image: url(../img/strawberrybg.png);
  padding-right:257px;
  padding-left: 20px;
  padding-top: 19px;
}

.blog h3 {
  font-weight: 500;
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: underline;
  text-align: left;
}

.blog a:hover,
.blog a:active {
  color: #E84D37;
}

.extra {
  display: flex;
  color: var(--basic-black);
  /*min-height: 220px;*/
  flex-direction: column;
  margin: 0 0 40px;
  border-radius: 16px;
}

.extra h3 {
  padding: 0;
  margin: 0;
  font-style: normal;
  text-align: left;
  font-family: 'Roboto',"Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 2px;
}

.mailing {
  background-image: url(../img/postbg.png);
}

.mailing-paper {
  flex-grow: 1;
  background-color: #F8F7F4;
  border-radius: 16px;
  margin: 5px 6px;
  padding: 25px 16px 34px 19px;
  box-sizing: border-box;
}

.mailing-paper h3 {
  margin-bottom: 40px;
  font-weight: 400;
}

.email-field {
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: 'Roboto',"Arial", sans-serif;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid var(--basic-grey);
  width: 368px;
  height: 44px;
  margin-right: 7px;
  padding-left: 14px;
}

.email-field:hover {
  border: 2px solid var(--basic-grey);
}

.email-field:active,
.email-field:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  font-weight: 700;
  line-height: 20px;
  outline: none
}

.mailing-button {
  padding: 10px 19px;
}

.contacts {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(572px, -50%);
  color: var(--basic-black);
  background-color: var(--darker-white);
  width: 253px;
  min-height: 236px;
  padding: 30px 25px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.contacts-button {
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  display: inline-block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

.contacts h3,
.contacts-time p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.contacts-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts-address {
  padding-top: 2px;
}

.contacts-address h3{
  width: 155px;
}

.contacts-street {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 225px;
  margin-bottom: 22px;
  margin-top: -2px;
}

.contacts a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: unset;
}

.contacts-tel {
  color: var(--basic-black);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 2px;
  align-items: self-start;
}

.footer-copyright a,
.footer-copyright p {
  font-size: 12px;
  margin: 0;
}

.logo-text {
  padding-bottom: 12px;
  padding-top: -2px;
  margin-top: -3px;
}

.social-list {
  list-style: none;
}

.facebook-icon:hover path,
.facebook-icon:active path{
  fill-opacity: 1;
}

.vkontakte-icon:hover path,
.vkontakte:focus path{
  fill-opacity: 1;
}

.instagram-icon:hover g,
.instagram-icon:focus g{
  opacity: 1;
}

.twitter-icon:hover path,
.twitter-icon:focus path{
  fill-opacity: 1;
}

.facebook-icon:active path{
  fill-opacity: 1;
  stroke-opacity: 1;
}

.vkontakte-icon:active path{
  fill-opacity: 1;
  stroke-opacity: 1;
}

.instagram-icon:active path,
.instagram-icon:active g{
  opacity: 1;
  stroke-opacity: 1;
}

.twitter-icon:active path{
  fill-opacity: 1;
  stroke-opacity: 1;
}

.useful-links ul {
  list-style: none;
  stroke-opacity: 1;
}

.logo-text a:hover,
.logo-text a:active,
.link-one:hover,
.link-one:active{
  color: var(--red-light);
  text-decoration-color: var(--red-light);
}

.link-two:hover,
.link-two:active {
  color: var(--red-light);
  text-decoration-color: var(--red-light);
}

.link-three:hover ,
.link-three:active {
  color: var(--red-light);
  text-decoration-color: var(--red-light);
}

.link-four:hover ,
.link-four:active {
  color: var(--red-light);
  text-decoration-color: var(--red-light);
}

.useful-links a {
  color: var(--basic-white);
  font-size: 13px;
  line-height: 18px;
}

.main-footer .container {
  display: flex;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  justify-content: space-between;
  height: 112px;
}

.footer-social {
  display: flex;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.social-list li {
  margin-right: 8px;
}

.useful-links {
  display: flex;
}

.useful-links-items::before {
  background-image: url(../img/heart-icon.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  height: 13px;
  width: 15px;
  left: -6px;
  top: 37px;
}

.useful-links-items {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-content: center;
  width: 330px;
  padding-bottom: 2px;
}

.useful-links-item:nth-child(odd) {
  width: 115px;
  margin-bottom: 2px;
  margin-left: 20px;
}

.useful-links-item:nth-child(even) {
  width: 165px;
  margin-left: 27px;
}

.useful-links-row li {

}

.map {
  position: relative;
}

.map-image {
  margin: 0 auto;
  display: block;
  position: relative;
}

.map-pin {

}
